<div class="container">
  <div class="row page-header">
    <h2 class="pull-left">{{title}}</h2>
    <button class="btn btn-primary pull-right" title="terug naar het vorige scherm" *ngIf="canGoBack()" (click)="goBack()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button class="btn btn-primary pull-right spacing" title="begin opnieuw" *ngIf="canRestart()" (click)="restart()">
      <span class="glyphicon glyphicon-retweet"></span>
    </button>

  </div>
</div>
<div class="container">
  <div class="row"><h4>{{state.title}}</h4></div>
  <div *ngIf="state.subtitle" class="row"><h6 class="subtitle">{{state.subtitle}}</h6></div>
  <div class="row">
    <nav *ngIf="state.navigationNode" [navNode]="state.navigationNode" (onNewState)="setNewState($event)"></nav>
  </div>
  <div class="row">
    <questionnaire *ngIf="state.questionnaire" [questionnaire]="state.questionnaire" (onNewState)="setNewState($event)"></questionnaire>
  </div>
  <div class="row">
    <result *ngIf="state.results" [visitedStates]="breadcrumbs"></result>
  </div>
  <div class="row">
    <info *ngIf="state.information"  [information]="state.information" (onGoBack)="goBack()"></info>
  </div>
  <div class="row footer">
  </div>
</div>

