  <div class="col-xs-12">
      <div *ngIf="information.preImageText" class="col-xs12" [innerHtml]="information.preImageText"></div>
      <div *ngIf="information.imageUrl" class="col-xs-12 col-md-8 col-lg-6" ><img class="img-responsive" src={{information.imageUrl}}></div>
      <div *ngIf="information.postImageText" class="col-xs-12 col-lg-6" [innerHtml]="information.postImageText"></div>
      <button type="button" class="btn btn-primary btn-lg spacing vspacing col-xs-12" (click)="goBack()" ><span class="glyphicon glyphicon-chevron-left"></span> Terug naar vragenlijst</button>
  </div>

