  <div>
    <h3>{{navNode.question}}</h3>
    <button type="button" class="btn btn-primary btn-lg spacing vspacing col-xs-12 col-sm-5 col-md-5 col-lg-3" *ngFor="let option of navNode.options" (click)="onSelect(option)" >{{option.answer}}</button>
  </div>

