<div>
  <table class="table table-striped">
    <tr *ngFor="let question of questionnaire.questions">
      <td>{{question.text}}</td>
      <td><button *ngIf="question.moreInfo"  type="button" class="btn spacing btn-default" (click)="onRequestInfo(question.moreInfo)"><span class="glyphicon glyphicon-question-sign"></span></button></td>
      <td><button type="button" class="btn spacing btn-default " [class.btn-danger]="question.answer == 1" (click)="answered(question, 1)">ja</button></td>
      <td><button type="button" class="btn spacing btn-default " [class.btn-success]="question.answer == 2" (click)="answered(question, 2)">nee</button></td>
    </tr>
  </table>
  <div>
    <button type="button" class="btn btn-lg btn-primary pull-right" (click)="onContinue()">Verder <span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
</div>
