<div>
    <table class="table table-responsive table-striped">
      <tr *ngFor="let scr of results.screenings()" (click)="toggleInfo(scr)">
        <td>
          <span>{{scr.name}}</span><span class="glyphicon glyphicon-chevron-down pull-left text-primary animated spacing" [ngClass]="{'rotated' : scr.infoVisible}"></span>
          <div class="col-xs-12 screening-info slider" [ngClass]="{'slider-open' : scr.infoVisible }"><div class="text-muted"><div [innerHTML]="scr.info"></div></div></div>
        </td>
      </tr>
      <tr>
        <td *ngIf="results.screenings().length == 0" >
          Geen screeningtesten aanbevolen
        </td>
      </tr>
    </table>
<div>
