/* You can add global styles to this file, and also import other style files */

.spacing {
  margin-right: 4px;
}

.vspacing {
  margin-top: 10px;
}

.footer {
  margin-top: 15px;
}

.animated {
  transition: all 400ms;
  -webkit-transition: all 400ms;
}

.rotated {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.slider {
  max-height: 0px;
  transition: max-height 400ms;
  -webkit-transition: max-height 400ms;
  overflow: hidden;
}

.slider.slider-open {
  display: block;
  max-height: 300px;
  transition: max-height 800ms;
  -webkit-transition: max-height 800ms;
}

.screening-info {
  margin-left: 1%;
  font-style: italic;
}

.subtitle{
  font-style: italic;
  font-size: small;
  margin-top: 4px;
  margin-bottom: 20px;
  color: darkgray;
}
